@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --text-color: #000;
  --para-text: rgba(0, 0, 0, 0.7);
  --para-text-inverse: rgba(255, 255, 255, 0.7);
  --text-inverse: #f7f5f5;
  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(60, 60, 60);
  --accent-color: rgb(255, 45, 45);
  --danger: rgb(255, 45, 45);
  --success: rgb(16, 223, 78);
  --warning: rgb(253, 164, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--text-inverse);
}

p {
  font-family: "Abel", sans-serif;
}

input,
option,
select,
textarea {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
  padding: 0.3rem;
  border: 0;
  background-color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
  border-radius: 0.5rem;
  color: var(--text-inverse);
}

input:focus,
option:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  width: 5ch;
}

input.error {
  outline: 2px solid var(--accent-color);
}

.btn {
  font-size: 1.3rem;
  padding: 0.7em;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.25s ease;
}

.primary-btn {
  background-color: var(--accent-color);
  color: var(--text-inverse);
}

.btn:hover {
  transform: scale(1.05, 1.05);
}

.side-margin {
  padding-left: 5em;
  padding-right: 5em;
}

.logo {
  color: var(--primary-color);
}

/* banner */
.banner {
  padding-top: 5em;
  padding-bottom: 2em;
  background: url("../images/banner-back.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  background-size: cover;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  color: var(--text-inverse);
}

.banner h1 {
  text-shadow: 2px 2px 4px #000;
}

.justify {
  text-align: justify;
}

.sticky {
  background-color: var(--primary-color);
  color: var(--text-inverse);
}

.sticky a {
  color: var(--text-inverse);
}

.hidden {
  display: none;
}

/* Contact Page */
.contact-strip {
  background-color: var(--secondary-color);
}

.contact-strip h1 {
  font-size: 2rem;
}

.contact-main {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

.contact-main div {
  background-color: var(--secondary-color);
  height: 100%;
  color: var(--text-inverse);
  margin-top: 2em;
  border-radius: 1.3rem;
  width: 49%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

label {
  font-size: 1.3rem;
  margin: 0.5rem;
  margin-top: 1rem;
}

.signin-container {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  color: var(--text-inverse);
}

.signin-form {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 1.3rem;
}

.signin-form form {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.signin-info p {
  text-align: center;
}

.signin-info a {
  color: var(--accent-color);
}

/* Alert  */
.alert-container {
  position: fixed;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  color: var(--text-inverse);
  display: flex;
  flex-direction: column;
}

.alert {
  position: relative;
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 350px;
  box-shadow: 4px 4px 12px #000;
  margin: 0.3rem;
  border-left: 5px solid var(--accent-color);
  transition: all 5s ease-in-out;
}

.alert i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  text-align: center;
  padding: 1rem;
}

.alert i:hover {
  background-color: var(--accent-color);
}

.success {
  border-left: 5px solid var(--success);
}
.warning {
  border-left: 5px solid var(--warning);
}
.danger {
  border-left: 5px solid var(--danger);
}

/* Search Homepage */
.main-search {
  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}
.main-search input {
  background-color: var(--text-inverse);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  border-radius: 0;
}
.search-btn {
  font-size: 1.6rem;
  padding: 0.3rem;
  background-color: var(--accent-color);
  color: var(--text-inverse);
  border: 0;
  border-radius: 0;
  width: 6ch;
  height: 100%;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.search-btn:hover {
  color: var(--text-color);
}

.search-btn:focus {
  outline: none;
}

/* Services */

.services-cards {
  display: flex;
  justify-content: center;
  color: var(--text-inverse);
  margin: 2em 0;
}

.service-card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-width: 300px;
  height: 350px;
  padding: 1em;
  text-align: center;
  margin: 1em;
  border-radius: 1.3rem;
}

.service-card img {
  width: 100px;
  border-radius: 50%;
}

.service-card h2 {
  margin: 1em 0;
}

.service-card p {
  color: var(--para-text-inverse);
}

.service-message {
  color: var(--text-inverse);
  background-color: var(--accent-color);
  margin: 2em 0;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-style: italic;
}

.image-explainer-container {
  color: var(--text-inverse);
  margin-bottom: 2em;
}

.image-explainer {
  background-color: var(--secondary-color);
  border-radius: 1.3rem;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  height: 300px;
}

.image-explainer .img {
  width: auto;
  height: auto;
  background: url(https://picsum.photos/seed/56/700/1000);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.explainer h2 {
  margin-bottom: 1rem;
}

.explainer h2::after {
  width: 50px;
  background: var(--accent-color);
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  margin-top: 0.3rem;
}

.image-explainer p {
  text-align: justify;
  color: var(--para-text-inverse);
}
